// 主色
@primary:           #E6231F; //主色
@dark:  	    	#253044; //字体颜色

// 辅助色
@success:           #2DCC70;
@warning:           #F5A623;
@danger:            #E6231F;
@link:              #1782E6;
@yellow:            #FFDC4A; // 重点色

// 扩展色
@white:				#ffffff; // 白色
@background:        #f0f2f5; // 背景色
@disable:           #E0E1E4;  // 失效，禁用
@list-hover-color:  #F8F8F8; // 列表hover色
@border-color:	 	#E8E8E8; //列表分割线
@btn-border-color:	#DDE0E5; // 按钮边框

// 字体颜色
@dark-font:         rgba(37, 48, 68, .85); // 次要字体
@grey-font:         rgba(37, 48, 68, .65); //
@light-font:        rgba(37, 48, 68, .45); // 未选中
@disable-font:      rgba(37, 48, 68, .3); // 禁用

// 间距
@spacer:            1rem;
@basic-width:       10px;
